.kanban {
    position: absolute;
    top: 390px;
    left: 850px;
    transform: translate(-50%, -50%);
    width: 800px;
    display: flex;
    padding: 40px;
    align-items: flex-start;
    gap: 20px;
    margin: 10px auto;
    flex-wrap: wrap;
}

.kanban__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    flex: 1 0 1;

    padding: 10px;

    border-radius: 15px;
    background-color: #D5CCFF;
}

.kanban__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.kanban__header-content {
    display: flex;
    align-items: center;
    gap: 10px;

}

.kanban__title {
    color: #2B1887;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.kanban__icon--add:hover {
    cursor: pointer;
    opacity: .5;
}

.kanban__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}